#app {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem;
  -webkit-print-color-adjust: exact;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-display);
}

a,
address,
p {
  font-family: var(--font-family-body);
}

p {
  font-size: var(--font-size-xs);
}
